
body {
    font-family: Arial, sans-serif;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #8000FF, #00FFFF);
}

.contenedor-registro {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#inputs{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

#registro{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    border-color: #007bff;
}